In [25]:
import sqlite3
import pandas as pd

# se connecter à la base de données SQLite
connexion = sqlite3.connect("db_objets_trouves.db")
curseur = connexion.cursor()

# créer la table pour stocker les données
curseur.execute("""
    CREATE TABLE IF NOT EXISTS temperature (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        date TEXT NOT NULL,
        temperature FLOAT NOT NULL
    )
""")

# lire le fichier CSV dans un DataFrame pandas
df = pd.read_csv("archive.csv")

# Insérer les données dans la table temperature
for index, row in df.iterrows():
    curseur.execute("INSERT INTO temperature (date, temperature) VALUES (?, ?)", (row["time"], row["temperature_2m_mean (°C)"]))

# Sauvegarder les modifications et fermer la connexion
connexion.commit()
connexion.close()

NameError: name 'sqlite3' is not defined