In [4]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium   
from branca.element import Figure

In [7]:
# lire le fichier CSV dans un DataFrame pandas
df = pd.read_csv("objets-trouves.csv")

# convertir la colonne "date" en type datetime
df["date"] = pd.to_datetime(df["date"])

# filtrer les données entre 2019 et 2022
start_date = pd.Timestamp("2019-01-01")
end_date = pd.Timestamp("2022-12-31")
# du lundi au dimanche 
df = df[(df["date"] >= start_date) & (df["date"] <= end_date)]

# renommer la colonne "type d'objet" en "Nbr_perdu"
df = df.rename(columns={"type d'objet": "Nbr_perdu"})

# grouper les données par semaine et calculer la somme du nombre d'objets pour chaque semaine
weekly_sum = df.groupby(pd.Grouper(key="date", freq="W"))["Nbr_perdu"].count().reset_index()

# afficher les résultats
weekly_sum

          date  Nbr_perdu
0   2019-01-06        418
1   2019-01-13        404
2   2019-01-20        497
3   2019-01-27        472
4   2019-02-03        456
..         ...        ...
204 2022-12-04        510
205 2022-12-11        453
206 2022-12-18        479
207 2022-12-25        457
208 2023-01-01        415

[209 rows x 2 columns]