In [116]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium   
from branca.element import Figure    
import plotly.express as px
import nbformat

In [117]:
# lire le fichier CSV dans un DataFrame pandas
df = pd.read_csv("objets-trouves.csv")

# convertir la colonne "date" en type datetime
df["date"] = pd.to_datetime(df["date"])

# filtrer les données entre 2019 et 2022
start_date = pd.Timestamp("2019-01-01")
end_date = pd.Timestamp("2022-12-31")
# du lundi au dimanche 
df = df[(df["date"] >= start_date) & (df["date"] <= end_date)]

# renommer la colonne "type d'objet" en "Nbr_perdu"
df = df.rename(columns={"type d'objet": "Nbr_perdu"})


# grouper les données par semaine et calculer la somme du nombre d'objets pour chaque semaine # du lundi au dimanche 

weekly_sum = df.groupby(pd.Grouper(key="date", freq="w"))["Nbr_perdu"].count().reset_index()

# afficher les résultats
weekly_sum

          date  Nbr_perdu
0   2019-01-06        418
1   2019-01-13        404
2   2019-01-20        497
3   2019-01-27        472
4   2019-02-03        456
..         ...        ...
204 2022-12-04        510
205 2022-12-11        453
206 2022-12-18        479
207 2022-12-25        457
208 2023-01-01        415

[209 rows x 2 columns]

In [118]:
# df['date'] = pd.to_datetime(df['date'])
# df['Semaine'] = df['date'].dt.week
# df

In [119]:
# # lire le fichier CSV dans un DataFrame pandas
# df = pd.read_csv("objets-trouves.csv")

# # convertir la colonne "date" en type datetime
# df["date"] = pd.to_datetime(df["date"])

# # filtrer les données entre 2019 et 2022
# start_date = pd.Timestamp("2019-01-01")
# end_date = pd.Timestamp("2022-12-31")
# df = df[(df["date"] >= start_date) & (df["date"] <= end_date)]

# # renommer la colonne "type d'objet" en "Nbr_perdu"
# df = df.rename(columns={"type d'objet": "Nbr_perdu"})

# # grouper les données par semaine et calculer la somme du nombre d'objets pour chaque semaine
# weekly_sum = df.groupby(pd.Grouper(key="date", freq="w"))["Nbr_perdu"].count().reset_index()

# # définir l'index sur la colonne "date"
# weekly_sum = weekly_sum.set_index("date")

# # afficher les résultats
# weekly_sum

In [120]:

# # lire le fichier CSV dans un DataFrame pandas
# df = pd.read_csv("objets-trouves.csv")

# # convertir la colonne "date" en type datetime
# df["date"] = pd.to_datetime(df["date"])

# # filtrer les données entre 2019 et 2022
# start_date = pd.Timestamp("2019-01-01")
# end_date = pd.Timestamp("2022-12-31")
# df = df[(df["date"] >= start_date) & (df["date"] <= end_date)]

# # renommer la colonne "type d'objet" en "Nbr_perdu"
# df = df.rename(columns={"type d'objet": "Nbr_perdu"})

# # grouper les données par mois et calculer la somme du nombre d'objets pour chaque mois
# monthly_sum = df.groupby(pd.Grouper(key="date", freq="M"))["Nbr_perdu"].count().reset_index()

# # afficher les résultats
# monthly_sum

In [121]:

fig = px.histogram(df, x="date", nbins=len(weekly_sum))
fig.update_layout(xaxis_title="Date (Semaine)", yaxis_title="Nombre d'objets perdus")
fig.write_html('histogramme.html', auto_open=True)

In [122]:

fig = px.histogram(df, x="Nbr_perdu")
fig.write_html('histogramme2.html', auto_open=True)

In [123]:
# convertir la colonne "date" en type datetime
df["date"] = pd.to_datetime(df["date"])

# extraire l'année à partir de la colonne "date"
df["annee"] = df["date"].dt.year

# renommer la colonne "type d'objet" en "Nbr_perdu"
df = df.rename(columns={"type d'objet": "Nbr_perdu"})

# grouper les données par gare et par année et calculer la somme du nombre d'objets pour chaque groupe
gare_annee_sum = df.groupby(["gare","annee"])["Nbr_perdu"].count().reset_index()

# afficher les résultats
gare_annee_sum

                  gare  annee  Nbr_perdu
0     Paris Austerlitz   2019        426
1     Paris Austerlitz   2020        239
2     Paris Austerlitz   2021        381
3     Paris Austerlitz   2022        627
4          Paris Bercy   2019        570
5          Paris Bercy   2020        325
6          Paris Bercy   2021        293
7          Paris Bercy   2022        306
8            Paris Est   2019       1589
9            Paris Est   2020        844
10           Paris Est   2021        980
11           Paris Est   2022       1320
12  Paris Gare de Lyon   2019       7435
13  Paris Gare de Lyon   2020       4358
14  Paris Gare de Lyon   2021       5154
15  Paris Gare de Lyon   2022       6773
16  Paris Gare du Nord   2019       5784
17  Paris Gare du Nord   2020       2101
18  Paris Gare du Nord   2021       2350
19  Paris Gare du Nord   2022       3609
20  Paris Montparnasse   2019       6978
21  Paris Montparnasse   2020       4113
22  Paris Montparnasse   2021       5663
23  Paris Montparnasse   2022       6758
24  Paris Saint-Lazare   2019       3779
25  Paris Saint-Lazare   2020       1595
26  Paris Saint-Lazare   2021       3049
27  Paris Saint-Lazare   2022       4233

In [152]:
import sqlite3

# Connexion à la base de données SQLite et récupération des données de la table 'objets_trouves'
connexion = sqlite3.connect("db_objets_trouves.db")
df = pd.read_sql_query("SELECT * FROM objets_trouves", connexion)

# Convertir la colonne "date" en type datetime et extraire l'année à partir de la colonne "date"
df["date"] = pd.to_datetime(df["date"])
df["annee"] = df["date"].dt.year

# Grouper les données par gare et par année et calculer la somme du nombre d'objets pour chaque groupe
gare_annee_sum = df.groupby(["gare","annee"])["type_objet"].count().reset_index()
gare_annee_sum = gare_annee_sum.rename(columns={"type_objet": "Nbr_perdu"})

# Créer la table pour stocker les données si elle n'existe pas
curseur = connexion.cursor()
curseur.execute("""
    CREATE TABLE IF NOT EXISTS objet_perdu_annee (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        gare TEXT NOT NULL,
        annee INTEGER,
        Nbr_perdu INTEGER
    )
""")

# Insérer les données dans la table 'objet_perdu_annee' si elles n'existent pas déjà
for index, row in gare_annee_sum.iterrows():
    curseur.execute("SELECT * FROM objet_perdu_annee WHERE gare = ? AND annee = ?", (row["gare"], row["annee"]))
    data = curseur.fetchone()
    if data is None:
        curseur.execute("INSERT INTO objet_perdu_annee (gare, annee, Nbr_perdu) VALUES (?, ?, ?)", (row["gare"], row["annee"], row["Nbr_perdu"]))

# Sauvegarder les modifications et fermer la connexion
connexion.commit()
connexion.close()

In [124]:
# convertir la colonne "date" en type datetime
df["date"] = pd.to_datetime(df["date"])

# extraire l'année à partir de la colonne "date"
df["annee"] = df["date"].dt.year

# renommer la colonne "type d'objet" en "Nbr_perdu"
df = df.rename(columns={"type d'objet": "Nbr_perdu"})

# grouper les données par gare et par année et calculer la somme du nombre d'objets pour chaque groupe
gare_annee_sum = df.groupby(["gare"])["Nbr_perdu"].count().reset_index()

# afficher les résultats
gare_annee_sum

                 gare  Nbr_perdu
0    Paris Austerlitz       1673
1         Paris Bercy       1494
2           Paris Est       4733
3  Paris Gare de Lyon      23720
4  Paris Gare du Nord      13844
5  Paris Montparnasse      23512
6  Paris Saint-Lazare      12656

In [125]:
import sqlite3

# se connecter à la base de données SQLite
connexion = sqlite3.connect("db_objets_trouves.db")

# créer la table pour stocker les données
curseur = connexion.cursor()
curseur.execute("""
    CREATE TABLE IF NOT EXISTS gares (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        gare TEXT NOT NULL,
        latitude REAL NOT NULL,
        longitude REAL NOT NULL,
        annee INTEGER,
        frequantation INTEGER
    )
""")

# sauvegarder les modifications et fermer la connexion
connexion.commit()
connexion.close()

In [126]:
import csv

data = {
    'Paris Bercy': {
        'latitude': 48.8397,
        'longitude': 2.3869,
        2019: 4100000,
        2020: 3600000,
        2021: 3300000,
        2022: 3630000,    
    },
    'Paris Saint-Lazare': {
        'latitude': 48.8760,
        'longitude': 2.3275,
        2019: 115800000,
        2020: 56500000,
        2021: 91500000,
        2022: 100650000,   
    },
    'Paris Gare de Lyon': {
        'latitude': 48.8448,
        'longitude': 2.3734,
        2019: 109700000,
        2020: 46200000,
        2021: 79900000,
        2022: 87890000
    },
    'Paris Gare du Nord': {
        'latitude': 48.8809,
        'longitude': 2.3554,
        2019: 222700000,
        2020: 70100000,
        2021: 126600000,
        2022: 139260000
    },
    'Paris Montparnasse': {
        'latitude': 48.8404,
        'longitude': 2.3209,
        2019: 57200000,
        2020: 28300000,
        2021: 41100000,
        2022: 45210000
    },
    'Paris Est': {
        'latitude': 48.8762,
        'longitude': 2.3581,
        2019: 34100000,
        2020: 15600000,
        2021: 27700000,
        2022: 30470000
    },
    'Paris Austerlitz': {
        'latitude': 48.8413,
        'longitude': 2.3644,
        2019: 14500000,
        2020: 6800000,
        2021: 22200000,
        2022: 24420000
    }
}

# Nom du fichier CSV à créer
filename = "gares.csv"

# Ouverture du fichier en mode écriture
with open(filename, 'w', newline='') as csvfile:

    # Création d'un objet writer pour écrire dans le fichier CSV
    writer = csv.writer(csvfile)

    # Écriture de l'en-tête du fichier CSV
    writer.writerow(['Gare', 'Latitude', 'Longitude', '2019', '2020', '2021', '2022'])

    # Écriture des données pour chaque gare
    for gare, info in data.items():
        writer.writerow([gare, info['latitude'], info['longitude'], info[2019], info[2020], info[2021], info[2022]])

print("Le fichier CSV a été créé avec succès !")

Le fichier CSV a été créé avec succès !

In [135]:
def inserer_donnees_gares(nom_fichier_csv):
    # Connexion à la base de données SQLite
    connexion = sqlite3.connect("db_objets_trouves.db")

    # Création de la table pour stocker les données
    curseur = connexion.cursor()
    curseur.execute("""
        CREATE TABLE IF NOT EXISTS gares (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            gare TEXT NOT NULL,
            latitude REAL NOT NULL,
            longitude REAL NOT NULL,
            annee INTEGER,
            frequantation INTEGER
        )
    """)

    # Lecture des données depuis le fichier CSV et insertion dans la table SQLite
    with open(nom_fichier_csv) as fichier_csv:
        lecteur_csv = csv.reader(fichier_csv, delimiter=',')
        next(lecteur_csv)  # Ignorer la première ligne qui contient les en-têtes
        for ligne in lecteur_csv:
            gare = ligne[0]
            latitude = float(ligne[1])
            longitude = float(ligne[2])
            annee_2019 = int(ligne[3])
            annee_2020 = int(ligne[4])
            annee_2021 = int(ligne[5])
            annee_2022 = int(ligne[6])
            # Vérifier si une gare avec la même latitude et longitude n'existe pas déjà dans la table
            curseur.execute("""
                SELECT id FROM gares WHERE latitude = ? AND longitude = ?
            """, (latitude, longitude))
            enregistrement_existant = curseur.fetchone()
            if enregistrement_existant is not None:
                # Une gare avec la même latitude et longitude existe déjà, ne rien faire
                print(f"La gare {gare} existe déjà dans la table 'gares', l'enregistrement ne sera pas inséré.")
            else:
                # Insérer la gare dans la table avec les fréquentations pour chaque année
                curseur.execute("""
                    INSERT INTO gares (gare, latitude, longitude, annee, frequantation)
                    VALUES (?, ?, ?, 2019, ?), (?, ?, ?, 2020, ?), (?, ?, ?, 2021, ?), (?, ?, ?, 2022, ?)
                """, (gare, latitude, longitude, annee_2019, gare, latitude, longitude, annee_2020, gare, latitude, longitude, annee_2021, gare, latitude, longitude, annee_2022))
                print(f"L'enregistrement pour la gare {gare} a été inséré avec succès dans la table 'gares'.")
    
    # Sauvegarde des modifications et fermeture de la connexion à la base de données
    connexion.commit()
    connexion.close()
    
    print("Les données ont été importées avec succès dans la table 'gares' !")

inserer_donnees_gares("gares.csv")

L'enregistrement pour la gare Paris Bercy a été inséré avec succès dans la table 'gares'.
L'enregistrement pour la gare Paris Saint-Lazare a été inséré avec succès dans la table 'gares'.
L'enregistrement pour la gare Paris Gare de Lyon a été inséré avec succès dans la table 'gares'.
L'enregistrement pour la gare Paris Gare du Nord a été inséré avec succès dans la table 'gares'.
L'enregistrement pour la gare Paris Montparnasse a été inséré avec succès dans la table 'gares'.
L'enregistrement pour la gare Paris Est a été inséré avec succès dans la table 'gares'.
L'enregistrement pour la gare Paris Austerlitz a été inséré avec succès dans la table 'gares'.
Les données ont été importées avec succès dans la table 'gares' !

In [161]:
# def vider_table_gares():
#     # se connecter à la base de données SQLite
#     connexion = sqlite3.connect("db_objets_trouves.db")

#     # créer un curseur pour exécuter des requêtes SQL
#     curseur = connexion.cursor()

#     # exécuter la requête SQL pour supprimer toutes les lignes de la table gares
#     curseur.execute("DELETE FROM gares_objets_perdus")

#     # sauvegarder les modifications et fermer la connexion
#     connexion.commit()
#     connexion.close()

#     print("La table gares a été vidée avec succès !")
    
# vider_table_gares()

La table gares a été vidée avec succès !

In [134]:
# import sqlite3

# def supprimer_table_gares():
#     # Connexion à la base de données SQLite
#     connexion = sqlite3.connect("db_objets_trouves.db")

#     # Suppression de la table "gares"
#     curseur = connexion.cursor()
#     curseur.execute("DROP TABLE IF EXISTS gares")

#     # Sauvegarde des modifications et fermeture de la connexion à la base de données
#     connexion.commit()
#     connexion.close()

#     print("La table 'gares' a été supprimée avec succès de la base de données SQLite !")
# supprimer_table_gares()

La table 'gares' a été supprimée avec succès de la base de données SQLite !

In [142]:
# Connexion à la base de données SQLite
connexion = sqlite3.connect("db_objets_trouves.db")

# Lecture de la table 'gares' et stockage dans un dataframe Pandas
df_gares = pd.read_sql_query("SELECT * from gares", connexion)

# Fermeture de la connexion à la base de données
connexion.close()

# Affichage du contenu du dataframe
df_gares

    id                gare  latitude  longitude  annee  frequantation
0    1         Paris Bercy   48.8397     2.3869   2019        4100000
1    2         Paris Bercy   48.8397     2.3869   2020        3600000
2    3         Paris Bercy   48.8397     2.3869   2021        3300000
3    4         Paris Bercy   48.8397     2.3869   2022        3630000
4    5  Paris Saint-Lazare   48.8760     2.3275   2019      115800000
5    6  Paris Saint-Lazare   48.8760     2.3275   2020       56500000
6    7  Paris Saint-Lazare   48.8760     2.3275   2021       91500000
7    8  Paris Saint-Lazare   48.8760     2.3275   2022      100650000
8    9  Paris Gare de Lyon   48.8448     2.3734   2019      109700000
9   10  Paris Gare de Lyon   48.8448     2.3734   2020       46200000
10  11  Paris Gare de Lyon   48.8448     2.3734   2021       79900000
11  12  Paris Gare de Lyon   48.8448     2.3734   2022       87890000
12  13  Paris Gare du Nord   48.8809     2.3554   2019      222700000
13  14  Paris Gare du Nord   48.8809     2.3554   2020       70100000
14  15  Paris Gare du Nord   48.8809     2.3554   2021      126600000
15  16  Paris Gare du Nord   48.8809     2.3554   2022      139260000
16  17  Paris Montparnasse   48.8404     2.3209   2019       57200000
17  18  Paris Montparnasse   48.8404     2.3209   2020       28300000
18  19  Paris Montparnasse   48.8404     2.3209   2021       41100000
19  20  Paris Montparnasse   48.8404     2.3209   2022       45210000
20  21           Paris Est   48.8762     2.3581   2019       34100000
21  22           Paris Est   48.8762     2.3581   2020       15600000
22  23           Paris Est   48.8762     2.3581   2021       27700000
23  24           Paris Est   48.8762     2.3581   2022       30470000
24  25    Paris Austerlitz   48.8413     2.3644   2019       14500000
25  26    Paris Austerlitz   48.8413     2.3644   2020        6800000
26  27    Paris Austerlitz   48.8413     2.3644   2021       22200000
27  28    Paris Austerlitz   48.8413     2.3644   2022       24420000

In [139]:
df = pd.read_csv('gares.csv')

# Affichage des 5 premières lignes du DataFrame
df

,Gare,Latitude,Longitude,2019,2020,2021,2022
0,Paris Bercy,48.8397,2.3869,4100000,3600000,3300000,3630000
1,Paris Saint-Lazare,48.8760,2.3275,115800000,56500000,91500000,100650000
2,Paris Gare de Lyon,48.8448,2.3734,109700000,46200000,79900000,87890000
3,Paris Gare du Nord,48.8809,2.3554,222700000,70100000,126600000,139260000
4,Paris Montparnasse,48.8404,2.3209,57200000,28300000,41100000,45210000
5,Paris Est,48.8762,2.3581,34100000,15600000,27700000,30470000
6,Paris Austerlitz,48.8413,2.3644,14500000,6800000,22200000,24420000

In [163]:
import sqlite3

# Connexion à la base de données SQLite
connexion = sqlite3.connect("db_objets_trouves.db")
curseur = connexion.cursor()

# Création de la table combinée si elle n'existe pas
curseur.execute("""
    CREATE TABLE IF NOT EXISTS gares_objets_perdus (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        gare TEXT NOT NULL,
        latitude FLOAT,
        longitude FLOAT,
        annee INTEGER,
        frequantation FLOAT,
        Nbr_perdu INTEGER
    )
""")

# Remplissage de la table combinée à partir des tables 'gares' et 'objet_perdu_annee'
curseur.execute("""
    INSERT INTO gares_objets_perdus (gare, latitude, longitude, annee, frequantation, Nbr_perdu)
    SELECT g.gare, g.latitude, g.longitude, o.annee, g.frequantation, o.Nbr_perdu
    FROM gares g
    LEFT JOIN objet_perdu_annee o ON g.gare = o.gare AND g.annee = o.annee
    WHERE NOT EXISTS (
        SELECT 1 FROM gares_objets_perdus
        WHERE gare = g.gare AND annee = o.annee
    )
""")

# Sauvegarde les modifications et fermeture de la connexion
connexion.commit()
connexion.close()

In [168]:
import pandas as pd
import plotly.express as px
from dotenv import load_dotenv
import os
import sqlite3

load_dotenv()  # charge les variables d'environnement à partir du fichier .env
map_token = os.getenv('MAPBOX_TOKEN')  # récupère la valeur de la variable d'environnement MAPBOX_TOKEN

# Connexion à la base de données SQLite et récupération des données de la table 'objet_perdu_annee'
connexion = sqlite3.connect("db_objets_trouves.db")
df = pd.read_sql_query("SELECT * FROM gares_objets_perdus WHERE annee = 2019", connexion)
connexion.close()

# Configuration de l'accès à l'API de Mapbox
px.set_mapbox_access_token(map_token)

# Création de la carte
fig = px.scatter_mapbox(df, lat="latitude", lon="longitude", color="Nbr_perdu", size="Nbr_perdu",
                  color_continuous_scale=px.colors.cyclical.IceFire, size_max=15, zoom=5, hover_name="gare",
                  hover_data={"Nbr_perdu": ":.0f", "frequantation": True})

# Affichage de la carte
# Export en fichier HTML
fig.write_html('carte_objets_perdus.html', auto_open=True)