In [52]:
import sqlite3
import pandas as pd

# Connexion à la base de données
conn = sqlite3.connect('db_objets_trouves.db')

# Sélectionner les données de 2019 (si nécessaire)
df_2019 = pd.read_sql_query("SELECT * FROM gares_objets_perdus WHERE annee = 2019", conn)

# # Calculer le nombre total de voyageurs dans toutes les gares en 2019
# total_voyageurs = df_2019['frequantation'].sum()

# print("Le nombre total de voyageurs dans toutes les gares en 2019 est de :", total_voyageurs)

# définir une fonction pour calculer le taux d'objets perdus par million de voyageurs pour chaque gare
def calculer_taux(row):
    taux = (row["Nbr_perdu"] / row["frequantation"]) * 1000000
    return taux

# ajouter une colonne "taux_objets_perdus" au dataframe en utilisant la fonction "apply"
df_2019["taux_objets_perdus_par_million"] = df_2019.apply(calculer_taux, axis=1)

# Afficher le DataFrame avec la nouvelle colonne
print(df_2019)

# Fermer la connexion
conn.close()

   id                gare  latitude  longitude  annee  frequantation  \
0   1         Paris Bercy   48.8397     2.3869   2019      4100000.0
1   5  Paris Saint-Lazare   48.8760     2.3275   2019    115800000.0
2   9  Paris Gare de Lyon   48.8448     2.3734   2019    109700000.0
3  13  Paris Gare du Nord   48.8809     2.3554   2019    222700000.0
4  17  Paris Montparnasse   48.8404     2.3209   2019     57200000.0
5  21           Paris Est   48.8762     2.3581   2019     34100000.0
6  25    Paris Austerlitz   48.8413     2.3644   2019     14500000.0

   Nbr_perdu    ratio  taux_objets_perdus_par_million
0        570   7192.0                      139.024390
1       3779  30643.0                       32.633851
2       7435  14754.0                       67.775752
3       5784  38502.0                       25.972160
4       6978   8197.0                      121.993007
5       1589  21460.0                       46.598240
6        426  34037.0                       29.379310

In [53]:
df_2019 = df_2019.drop('ratio', axis=1)
df_2019

,id,gare,latitude,longitude,annee,frequantation,Nbr_perdu,taux_objets_perdus_par_million
0,1,Paris Bercy,48.8397,2.3869,2019,4100000.0,570,139.024390
1,5,Paris Saint-Lazare,48.8760,2.3275,2019,115800000.0,3779,32.633851
2,9,Paris Gare de Lyon,48.8448,2.3734,2019,109700000.0,7435,67.775752
3,13,Paris Gare du Nord,48.8809,2.3554,2019,222700000.0,5784,25.972160
4,17,Paris Montparnasse,48.8404,2.3209,2019,57200000.0,6978,121.993007
5,21,Paris Est,48.8762,2.3581,2019,34100000.0,1589,46.598240
6,25,Paris Austerlitz,48.8413,2.3644,2019,14500000.0,426,29.379310

In [54]:
taux_densité = (total_objets_perdus / total_voyageurs) * 1000000
taux_densité

54.74938011262253

In [63]:
import sqlite3
import pandas as pd

# Connexion à la base de données
conn = sqlite3.connect('db_objets_trouves.db')

# Créer une liste vide pour stocker les DataFrames de chaque année
dfs = []

# Obtenir une liste de toutes les années dans la base de données
annees = pd.read_sql_query("SELECT DISTINCT annee FROM gares_objets_perdus", conn)["annee"].tolist()

# Loop à travers chaque année et calculer le taux d'objets perdus par million de voyageurs pour chaque gare
for annee in annees:
    # Sélectionner les données pour cette année
    df = pd.read_sql_query(f"SELECT * FROM gares_objets_perdus WHERE annee = {annee}", conn)

    # Calculer le nombre total de voyageurs dans toutes les gares pour cette année
    total_voyageurs = df['frequantation'].sum()

    # Calculer le nombre total d'objets perdus dans toutes les gares pour cette année
    total_objets_perdus = df['Nbr_perdu'].sum()

    # Calculer le nombre d'objets perdus par million de voyageurs pour chaque gare
    df["taux_objets_perdus"] = (df["Nbr_perdu"] / df["frequantation"]) * 1000000

    # Calculer le nombre d'objets perdus par million de voyageurs dans toutes les gares pour cette année
    nb_obj_million_an = (total_objets_perdus / total_voyageurs) * 1000000

    # Ajouter une colonne pour l'année en cours
    df["annee"] = annee

    # Ajouter le DataFrame à la liste
    dfs.append(df)

# Concaténer tous les DataFrames en un seul
result = pd.concat(dfs)

# Afficher les résultats
print(result)

# Exporter le résultat dans la base de données en tant que table
result.to_sql("objets_perdus_taux", conn, if_exists="replace", index=False)


# Exécution de la commande SQL pour supprimer la colonne ratio
conn.execute("ALTER TABLE objets_perdus_taux DROP COLUMN ratio")



# Fermer la connexion
conn.close()

   id                gare  latitude  longitude  annee  frequantation  \
0   1         Paris Bercy   48.8397     2.3869   2019      4100000.0
1   5  Paris Saint-Lazare   48.8760     2.3275   2019    115800000.0
2   9  Paris Gare de Lyon   48.8448     2.3734   2019    109700000.0
3  13  Paris Gare du Nord   48.8809     2.3554   2019    222700000.0
4  17  Paris Montparnasse   48.8404     2.3209   2019     57200000.0
5  21           Paris Est   48.8762     2.3581   2019     34100000.0
6  25    Paris Austerlitz   48.8413     2.3644   2019     14500000.0
0   2         Paris Bercy   48.8397     2.3869   2020      3600000.0
1   6  Paris Saint-Lazare   48.8760     2.3275   2020     56500000.0
2  10  Paris Gare de Lyon   48.8448     2.3734   2020     46200000.0
3  14  Paris Gare du Nord   48.8809     2.3554   2020     70100000.0
4  18  Paris Montparnasse   48.8404     2.3209   2020     28300000.0
5  22           Paris Est   48.8762     2.3581   2020     15600000.0
6  26    Paris Austerlitz   48.8413     2.3644   2020      6800000.0
0   3         Paris Bercy   48.8397     2.3869   2021      3300000.0
1   7  Paris Saint-Lazare   48.8760     2.3275   2021     91500000.0
2  11  Paris Gare de Lyon   48.8448     2.3734   2021     79900000.0
3  15  Paris Gare du Nord   48.8809     2.3554   2021    126600000.0
4  19  Paris Montparnasse   48.8404     2.3209   2021     41100000.0
5  23           Paris Est   48.8762     2.3581   2021     27700000.0
6  27    Paris Austerlitz   48.8413     2.3644   2021     22200000.0
0   4         Paris Bercy   48.8397     2.3869   2022      3630000.0
1   8  Paris Saint-Lazare   48.8760     2.3275   2022    100650000.0
2  12  Paris Gare de Lyon   48.8448     2.3734   2022     87890000.0
3  16  Paris Gare du Nord   48.8809     2.3554   2022    139260000.0
4  20  Paris Montparnasse   48.8404     2.3209   2022     45210000.0
5  24           Paris Est   48.8762     2.3581   2022     30470000.0
6  28    Paris Austerlitz   48.8413     2.3644   2022     24420000.0

   Nbr_perdu    ratio  taux_objets_perdus
0        570   7192.0          139.024390
1       3779  30643.0           32.633851
2       7435  14754.0           67.775752
3       5784  38502.0           25.972160
4       6978   8197.0          121.993007
5       1589  21460.0           46.598240
6        426  34037.0           29.379310
0        325  11076.0           90.277778
1       1595  35423.0           28.230088
2       4358  10601.0           94.329004
3       2101  33365.0           29.971469
4       4113   6880.0          145.335689
5        844  18483.0           54.102564
6        239  28451.0           35.147059
0        293  11262.0           88.787879
1       3049  30009.0           33.322404
2       5154  15502.0           64.505632
3       2350  53872.0           18.562401
4       5663   7257.0          137.785888
5        980  28265.0           35.379061
6        381  58267.0           17.162162
0        306  11862.0           84.297521
1       4233  23777.0           42.056632
2       6773  12976.0           77.062237
3       3609  38586.0           25.915554
4       6758   6689.0          149.480203
5       1320  23083.0           43.321300
6        627  38947.0           25.675676

In [57]:
result

,id,gare,latitude,longitude,annee,frequantation,Nbr_perdu,ratio,taux_objets_perdus
0,1,Paris Bercy,48.8397,2.3869,2019,4100000.0,570,7192.0,139.024390
1,5,Paris Saint-Lazare,48.8760,2.3275,2019,115800000.0,3779,30643.0,32.633851
2,9,Paris Gare de Lyon,48.8448,2.3734,2019,109700000.0,7435,14754.0,67.775752
3,13,Paris Gare du Nord,48.8809,2.3554,2019,222700000.0,5784,38502.0,25.972160
4,17,Paris Montparnasse,48.8404,2.3209,2019,57200000.0,6978,8197.0,121.993007
5,21,Paris Est,48.8762,2.3581,2019,34100000.0,1589,21460.0,46.598240
6,25,Paris Austerlitz,48.8413,2.3644,2019,14500000.0,426,34037.0,29.379310
0,2,Paris Bercy,48.8397,2.3869,2020,3600000.0,325,11076.0,90.277778
1,6,Paris Saint-Lazare,48.8760,2.3275,2020,56500000.0,1595,35423.0,28.230088
2,10,Paris Gare de Lyon,48.8448,2.3734,2020,46200000.0,4358,10601.0,94.329004
3,14,Paris Gare du Nord,48.8809,2.3554,2020,70100000.0,2101,33365.0,29.971469
4,18,Paris Montparnasse,48.8404,2.3209,2020,28300000.0,4113,6880.0,145.335689
5,22,Paris Est,48.8762,2.3581,2020,15600000.0,844,18483.0,54.102564
6,26,Paris Austerlitz,48.8413,2.3644,2020,6800000.0,239,28451.0,35.147059
0,3,Paris Bercy,48.8397,2.3869,2021,3300000.0,293,11262.0,88.787879
1,7,Paris Saint-Lazare,48.8760,2.3275,2021,91500000.0,3049,30009.0,33.322404
2,11,Paris Gare de Lyon,48.8448,2.3734,2021,79900000.0,5154,15502.0,64.505632
3,15,Paris Gare du Nord,48.8809,2.3554,2021,126600000.0,2350,53872.0,18.562401
4,19,Paris Montparnasse,48.8404,2.3209,2021,41100000.0,5663,7257.0,137.785888
5,23,Paris Est,48.8762,2.3581,2021,27700000.0,980,28265.0,35.379061
6,27,Paris Austerlitz,48.8413,2.3644,2021,22200000.0,381,58267.0,17.162162
0,4,Paris Bercy,48.8397,2.3869,2022,3630000.0,306,11862.0,84.297521
1,8,Paris Saint-Lazare,48.8760,2.3275,2022,100650000.0,4233,23777.0,42.056632
2,12,Paris Gare de Lyon,48.8448,2.3734,2022,87890000.0,6773,12976.0,77.062237
3,16,Paris Gare du Nord,48.8809,2.3554,2022,139260000.0,3609,38586.0,25.915554
4,20,Paris Montparnasse,48.8404,2.3209,2022,45210000.0,6758,6689.0,149.480203
5,24,Paris Est,48.8762,2.3581,2022,30470000.0,1320,23083.0,43.321300
6,28,Paris Austerlitz,48.8413,2.3644,2022,24420000.0,627,38947.0,25.675676

In [59]:
df

,id,gare,latitude,longitude,annee,frequantation,Nbr_perdu,ratio,taux_objets_perdus
0,4,Paris Bercy,48.8397,2.3869,2022,3630000.0,306,11862.0,84.297521
1,8,Paris Saint-Lazare,48.8760,2.3275,2022,100650000.0,4233,23777.0,42.056632
2,12,Paris Gare de Lyon,48.8448,2.3734,2022,87890000.0,6773,12976.0,77.062237
3,16,Paris Gare du Nord,48.8809,2.3554,2022,139260000.0,3609,38586.0,25.915554
4,20,Paris Montparnasse,48.8404,2.3209,2022,45210000.0,6758,6689.0,149.480203
5,24,Paris Est,48.8762,2.3581,2022,30470000.0,1320,23083.0,43.321300
6,28,Paris Austerlitz,48.8413,2.3644,2022,24420000.0,627,38947.0,25.675676