In [24]:
import sqlite3
import pandas as pd

# Connexion à la base de données
conn = sqlite3.connect('db_objets_trouves.db')

# Sélectionner les données de 2019 (si nécessaire)
df_2019 = pd.read_sql_query("SELECT * FROM gares_objets_perdus WHERE annee = 2019", conn)

# Calculer le nombre total de voyageurs dans toutes les gares en 2019
total_voyageurs = df_2019['frequantation'].sum()

print("Le nombre total de voyageurs dans toutes les gares en 2019 est de :", total_voyageurs)

# définir une fonction pour calculer le taux d'objets perdus par million de voyageurs pour chaque gare
def calculer_taux(row):
    taux = (row["Nbr_perdu"] / row["frequantation"]) * 1000000
    return taux

# ajouter une colonne "taux_objets_perdus" au dataframe en utilisant la fonction "apply"
df_2019["taux_objets_perdus_par_million"] = df_2019.apply(calculer_taux, axis=1)

# Afficher le DataFrame avec la nouvelle colonne
print(df_2019)

# Fermer la connexion
conn.close()

Le nombre total de voyageurs dans toutes les gares en 2019 est de : 558100000.0
   id                gare  latitude  longitude  annee  frequantation  \
0   1         Paris Bercy   48.8397     2.3869   2019      4100000.0
1   5  Paris Saint-Lazare   48.8760     2.3275   2019    115800000.0
2   9  Paris Gare de Lyon   48.8448     2.3734   2019    109700000.0
3  13  Paris Gare du Nord   48.8809     2.3554   2019    222700000.0
4  17  Paris Montparnasse   48.8404     2.3209   2019     57200000.0
5  21           Paris Est   48.8762     2.3581   2019     34100000.0
6  25    Paris Austerlitz   48.8413     2.3644   2019     14500000.0

   Nbr_perdu    ratio  taux_objets_perdus_par_million
0        570   7192.0                      139.024390
1       3779  30643.0                       32.633851
2       7435  14754.0                       67.775752
3       5784  38502.0                       25.972160
4       6978   8197.0                      121.993007
5       1589  21460.0                       46.598240
6        426  34037.0                       29.379310

In [14]:
df_2019

,id,gare,latitude,longitude,annee,frequantation,Nbr_perdu,ratio
0,1,Paris Bercy,48.8397,2.3869,2019,4100000.0,570,7192.0
1,5,Paris Saint-Lazare,48.8760,2.3275,2019,115800000.0,3779,30643.0
2,9,Paris Gare de Lyon,48.8448,2.3734,2019,109700000.0,7435,14754.0
3,13,Paris Gare du Nord,48.8809,2.3554,2019,222700000.0,5784,38502.0
4,17,Paris Montparnasse,48.8404,2.3209,2019,57200000.0,6978,8197.0
5,21,Paris Est,48.8762,2.3581,2019,34100000.0,1589,21460.0
6,25,Paris Austerlitz,48.8413,2.3644,2019,14500000.0,426,34037.0

In [17]:
taux_densité = (total_objets_perdus / total_voyageurs) * 1000000
taux_densité

47.59182942125067

In [15]:
# Calculez le taux de densité pour chaque gare
df_2019['taux_densité'] = (df_2019['total_objets_perdus'] / df_2019['total_voyageurs']) * 1000000

# Affichez le dataframe avec la nouvelle colonne ajoutée
print(df_2019.head())

KeyError: 'total_objets_perdus'